*{
	margin:0;
}
#logo-p1{
	position: relative;
	font-size: 5vw;
}
#logo-p2{
	font-size: 5vw;
	position: absolute;
	top: 7%;
	left: 5.5%;
	z-index: 1;
	width: 30%;
	color: green;
}
#logo-p3{
	font-size: 3vw;
	position: absolute;
	top: 2%;
	width: 30%;
	left: 6.5%;
}
header{
	color: white;
	background-color: #000044;
	height: 20vh;
}
#menu li{
	list-style-type: none;
	display: inline;
	font-size: 2vw;
	font-weight: bold;
	padding-right: 50px;
}
#menu{
	position: absolute;
	left: 50%;
	top: 4%;
	width: 50%;
}